--
-- PostgreSQL database dump
--

\restrict xeOckJYZ7vmh8EfKwEpqddC3HwJrWDEcgkGkhDrRZrNjHz7McKbjArHOXVe03Ac

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fn_verifier_solde(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_verifier_solde() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ 
DECLARE 
solde_dispo DECIMAL;
BEGIN 
SELECT solde INTO solde_dispo FROM comptes WHERE id_compte = NEW.id_source;
IF solde_dispo < NEW.montant THEN
RAISE EXCEPTION 'ERREUR: Solde insuffisant sur le compte % !', NEW.id_source;
END IF;
RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_verifier_solde() OWNER TO postgres;

--
-- Name: p_virement(integer, integer, numeric); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.p_virement(IN src integer, IN dst integer, IN val numeric)
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- 1. DÔÇÜbiter le compte source
    UPDATE comptes SET solde = solde - val WHERE id_compte = src;
    
    -- 2. CrÔÇÜditer le compte destination
    UPDATE comptes SET solde = solde + val WHERE id_compte = dst;
    
    -- 3. Noter la transaction (Correction ici : monTant avec un T)
    INSERT INTO transactions (id_source, id_dest, montant) VALUES (src, dst, val);
    
    COMMIT;
END;
$$;


ALTER PROCEDURE public.p_virement(IN src integer, IN dst integer, IN val numeric) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: comptes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comptes (
    id_compte integer NOT NULL,
    titulaire character varying(100) NOT NULL,
    solde numeric(15,2) DEFAULT 0.00,
    CONSTRAINT comptes_solde_check CHECK ((solde >= (0)::numeric))
);


ALTER TABLE public.comptes OWNER TO postgres;

--
-- Name: comptes_id_compte_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.comptes_id_compte_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comptes_id_compte_seq OWNER TO postgres;

--
-- Name: comptes_id_compte_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.comptes_id_compte_seq OWNED BY public.comptes.id_compte;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id_trans integer NOT NULL,
    id_source integer,
    id_dest integer,
    montant numeric(15,2) NOT NULL,
    date_virement timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: transactions_id_trans_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transactions_id_trans_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_id_trans_seq OWNER TO postgres;

--
-- Name: transactions_id_trans_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transactions_id_trans_seq OWNED BY public.transactions.id_trans;


--
-- Name: comptes id_compte; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comptes ALTER COLUMN id_compte SET DEFAULT nextval('public.comptes_id_compte_seq'::regclass);


--
-- Name: transactions id_trans; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id_trans SET DEFAULT nextval('public.transactions_id_trans_seq'::regclass);


--
-- Data for Name: comptes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comptes (id_compte, titulaire, solde) FROM stdin;
1	Alice	900.00
2	Bob	600.00
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transactions (id_trans, id_source, id_dest, montant, date_virement) FROM stdin;
1	1	2	100.00	2026-02-24 21:10:15.502221
\.


--
-- Name: comptes_id_compte_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comptes_id_compte_seq', 2, true);


--
-- Name: transactions_id_trans_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transactions_id_trans_seq', 1, true);


--
-- Name: comptes comptes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comptes
    ADD CONSTRAINT comptes_pkey PRIMARY KEY (id_compte);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id_trans);


--
-- Name: transactions trg_virement_securite; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_virement_securite BEFORE INSERT ON public.transactions FOR EACH ROW EXECUTE FUNCTION public.fn_verifier_solde();


--
-- Name: transactions transactions_id_dest_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_id_dest_fkey FOREIGN KEY (id_dest) REFERENCES public.comptes(id_compte);


--
-- Name: transactions transactions_id_source_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_id_source_fkey FOREIGN KEY (id_source) REFERENCES public.comptes(id_compte);


--
-- PostgreSQL database dump complete
--

\unrestrict xeOckJYZ7vmh8EfKwEpqddC3HwJrWDEcgkGkhDrRZrNjHz7McKbjArHOXVe03Ac

